.outerContainer {
  display: flex;
  height: 100vh;
  background-color: #bcb2ec;
}

.container {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  background-color: #222f3e;
  width: 98%;
  margin: 2%;
}

.chat_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
